{% extends 'base.html' %} {% block meta %}
<title>Create Task</title>
{% endblock meta %} {% block content %}

<body class="h-100" style="background-image: linear-gradient(#3494e6, #ec6ead, #ec6ead, #fff); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100%">
  <form method="POST" action="">
    {% csrf_token %}

    <table>
      <tr>
        <td>To do:</td>
        <td><input type="text" name="todo" placeholder="TO DO" class="form-control" /></td>
      </tr>

      <tr>
        <td>Description:</td>
        <td><input type="text" name="description" placeholder="DESCRIPTION" class="form-control" /></td>
      </tr>

      <tr>
        <td></td>
        <td><input class="btn login_btn" type="submit" value="Submit" href="{% url 'todolist:show_todolist' %}" /></td>
      </tr>
    </table>
  </form>
</body>
<style>
  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
    }
  }
</style>
{% endblock content %}
