{% extends 'base.html' %}

{% block content %}

{% csrf_token %}

<h5>Nama: </h5>
<p>{{nama}}</p>

<table>
    <tr>
    <th>Todo</th>
    <th>Date</th>
    <th>Desc</th>
    <th>Status</th>
    <th>Check</th>
    <th>Delete</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todolist in todo_list %}
    <tr>
        <th>{{todolist.title}}</th>
        <th>{{todolist.date}}</th>
        <th>{{todolist.description}}</th>
        {% if todolist.status == False %}
        <th>Belum Selesai</th>
        {% else %}
        <th>Selesai</th>
        {% endif %}
        <th><a href="{% url 'todolist:checklist' todolist.pk %}"><button>Check</button></th>
        <th><a href="{% url 'todolist:hapus' todolist.pk %}"><button>Delete</button></th>
        
    </tr>
{% endfor %}
</table>


<h5>Sesi terakhir login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create-task' %}">add task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>


{% endblock content %}